/seriesManager_1/nbproject/private/
/seriesManager_1/build/
/Animal/nbproject/private/
/Animal/build/
/Animal/dist/
/Estate_Agent_Sales_Report/nbproject/private/
/Estate_Agent_Sales_Report/build/
/Exercise5.2/nbproject/private/
/ProgTest/nbproject/private/
/Exam/nbproject/private/
